<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review Analysis Using NLP</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>
    <section id="header">
        Movie Review Analysis using Natural Langauage Processing
    </section>
    <section id="Data" style="margin: 1% 10% 1% 10%;text-align: center;">
        <p id="negative">Polarity of the below sentiment is : Negative</p>
        <form action="/submit" method="POST" enctype="multipart/form-data" style="margin: 4%;padding: 2%;">
            <p>{{result.path}}</p>
        </form>
    </section>

    

</body>
</html>